#chat-screen {
  height: 1000vh;
  background-color: #abc1d1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  margin-top: 80px;
}
